body {
  background: rgb(34,193,195);
background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(23,205,148,1) 24%, rgba(253,187,45,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(23,205,148,1) 24%, rgba(253,187,45,1) 100%);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(23,205,148,1) 24%, rgba(253,187,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 350px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
